.b-form-item {
    margin-bottom: 22px;
    &::before,
    &::after {
      display: table;
      content: '';
    }
    .b-form-item__label {
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606266;
      line-height: 40px;
      padding: 0 12px 0 0;
      box-sizing: border-box;
    }
    .b-form-item__content {
      line-height: 40px;
      position: relative;
      font-size: 14px;
      &::before,
      &::after {
        display: table;
        content: '';
      }
    }
  }